.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: rgba(18, 18, 19, 0.959);

}
.flex-container > div{
    background-color: rgba(7, 30, 37, 0.76);
    width: 110px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: whitesmoke;
}
.row{
    display: flex;
    flex-wrap: wrap;

}

.side-funcao{
    flex: 5%;
    background-color: rgba(177, 177, 177, 0.075);
    padding: 20px;
}
.side-funcao h5:hover{
    background-color: rgb(156, 196, 245);
    color: rgb(0, 0, 0);
}

.main {
    flex: 70%;
    background-color: rgb(154, 231, 225);
    padding: 20px;

}
.main > div{
    display: flex;
    justify-content: center;
}
main > button{
    display: flex;

}
main > div,button,a{
    color: rgb(38, 0, 252);
    justify-content: space-around;
    padding: 15px;
}
.fakeimg{
    display: flex;
    background-color: #aaa;
    text-align: center;

    padding: 0px;
    margin-bottom: 15rem;
}
#fornecedor_uf{
    display: flex;
    flex: 1%;
    flex-flow: row wrap;
    justify-content: left;
    width: 120px;
    height: 20px;
    margin-right: 10px;
    padding-left: 2px;
    margin-left: 10px;
    background-color: rgb(97, 144, 199);

}
#fornecedor_uf {
    width: 50px;
    height: 20px;
}
input#validationTooltip02.form-control{
    display: flex;
    flex-flow: wrap;
    text-align: center;
}
@media screen and (max-width: 100px) {
    .row {
        flex-direction: column;
    }
}